
 .take-center{
    display: flex;
    justify-content: center;
 }
 .login-form{
     margin-top: 30px;
     padding-left: 20px;
     padding-bottom: 20px;
     border-radius: 3px;
     
      
 }
 .email-field{
     height: 40px;
     width: 400px;
     margin-bottom: 10px;
     border-radius: 3px;
     border: 1px solid #3a0abe;
    
 }
 .password-field{
     height: 40px;
     width: 400px;
     margin-bottom: 10px;
     border-radius: 3px;
     border: 1px solid #3a0abe;
 }
 .button-field{
     height: 40px;
     width: 408px;
     border-radius: 3px;
     cursor: pointer;
     border: 1px solid #3a0abe;
     background-color: #3a0abe;
     
 }
 .account-color{
     color: #d1330c;
     font-weight: bold;
     text-decoration: none;
 }
 .reset-password{
    color: #247bdd;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
 }

 .social-login{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
 }
 .icon-blog{
    display: flex;
    justify-content: center;
   
 }
 .social-icon{
    width: 33%;
    background-color: rgb(149, 207, 11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .div-color{
    background-color:rgb(149, 207, 11);
 }
 

 