
.footer{
    background-color: #0b0c24ef;
    height: 200px;
    color: azure;
    font-size: 30px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

}